<div class="container d-flex justify-content-center gap-4">
  <!-- <form class="form-control w-50" (ngSubmit)="onSubmit()">
<div class="d-flex justify-content-center">
<img class="img-fluid w-25" src="../../assets/staff.png" alt="">
</div>

    <input
      class="form-control"
      type="text"
      placeholder="Username"
      [(ngModel)]="user.username"
      name="username"
      required
    />
    <br />
    
    <input
      class="form-control"
      type="password"
      placeholder="Password"
      [(ngModel)]="user.password"
      name="password"
      required
    />
     <br />
    
    <input
      class="form-control"
      type="email"
      placeholder="Email"
      [(ngModel)]="user.email"
      name="email"
      required
    />
<br>

<input 
type="radio" 
id="html" 
name="fav_language"
value="HTML"
[checked]="user.enabled"
 >
  <label for="">Active</label>
 <br />
 <br>


      <input
      class="form-control"
      type="text"
      placeholder="Phone Number"
      [(ngModel)]="user.phoneNumber"
      name="phoneNumber"
      required
    />
     <br />
    <p-select
      [options]="roleList"
      [(ngModel)]="selectedRole"
      optionLabel="roleName"
      placeholder="Select Role Type"
      name="roleType"
      (onChange)="onSelectRole($event)"
      class="w-full md:w-100"
    ></p-select>
<br>
<br>
    <button class="btn btn-info" type="submit">Create User</button>
  </form> -->
</div>

<br>

<div class="container d-flex justify-content-end"> 
<div class="row">
<div class=" flex justify-center">
  <p-button (click)="showDialogToAddUser()" icon="pi pi-plus" label="Add New User" />
<p-dialog maskStyleClass="backdrop-blur-sm" [(visible)]="visible" styleClass="!border-0 !bg-transparent">
    <form class="form-control w-100" (ngSubmit)="onSubmit()">
<div class="d-flex justify-content-center">
<img class="img-fluid w-25" src="../../assets/staff.png" alt="">
</div>
    <input
      class="form-control"
      type="text"
      placeholder="Username"
      [(ngModel)]="user.username"
      name="username"
      required
    />
    <br />
    <input
      class="form-control"
      type="password"
      placeholder="Password"
      [(ngModel)]="user.password"
      name="password"
      required
    />
     <br />
  
    <input
      class="form-control"
      type="email"
      placeholder="Email"
      [(ngModel)]="user.email"
      name="email"
      required
    />
<br>

<input 
type="radio" 
id="html" 
name="fav_language"
value="HTML"
[checked]="user.enabled"
 >
  <label for="">Active</label>
 <br />
 <br>


      <input
      class="form-control"
      type="text"
      placeholder="Phone Number"
      [(ngModel)]="user.phoneNumber"
      name="phoneNumber"
      required
    />
     <br />
    <p-select
      [options]="roleList"
      [(ngModel)]="selectedRole"
      optionLabel="roleName"
      placeholder="Select Role Type"
      name="roleType"
      (onChange)="onSelectRole($event)"
      class="w-full md:w-100"
    ></p-select>
<br>
<br>
    <button (click)="closeDialog()" class="btn"    
    type="submit">Create User</button>
  </form>
</p-dialog>
</div>
<br>
<br>

</div>


</div>


<table class="table">
  <thead class="table-info">
    <tr>
      <th scope="col">R-ID</th>
      <th scope="col">USERNAME</th>
      <th scope="col">PASSWORD</th>

        <th scope="col">PHONE NUMBER</th>
      <th scope="col">ROLE</th>
      <th scope="col">ACTIVE</th>
      <th scope="col">ACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.phoneNumber }}</td> 

        <td>
        <div *ngFor="let role of user.roles">
          {{ role.name }}
        </div>
      </td>
        <td>{{ user.enabled }}</td>
        <td> 
          <p-button (click)="showDialog(user)" icon="pi pi-pencil" label="Update" />

            <!-- <p-button (click)="showDialog(user)" icon="pi pi-pencil" label="Update" /> -->

 </td>
    </tr>
    <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
     
<form (ngSubmit)="onSubmitUpdatingUser()">


  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input 
      type="text" 
      class="form-control" 
      id="username" 
      name="username" 
      [(ngModel)]="selectedUser.username"
      required>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">New Password</label>
    <input 
      type="password" type="password" for="password"
      class="form-control" 
      id="password" 
      name="newPassword" 
      [(ngModel)]="newPassword"
      placeholder="Leave blank to keep current">
  </div>

  <!-- Phone Number Input -->
  <div class="mb-3">
    <label for="phoneNumber" class="form-label">Phone Number</label>
    <input 
      type="text" 
      class="form-control" 
      id="phoneNumber" 
      name="phoneNumber" 
      [(ngModel)]="selectedUser.phoneNumber">
  </div>

  <!-- Action Buttons -->
  <div class="d-flex justify-content-end">
    <button 
      pButton 
      pRipple 
      type="button" 
      label="Cancel" 
      class="p-button-text" 
      (click)="visible = false">
    </button>
    
    <button 
      pButton 
      pRipple 
      type="submit" 
      label="Save Changes" 
      class="p-button-info"
      (click)="visible">
    </button>
  </div>

</form>

</p-dialog>
  </tbody>
</table>



<div class="card flex justify-center">
  <p-button (click)="showDialogToAddUser()" icon="pi pi-user" label="Add New User" />
<p-dialog maskStyleClass="backdrop-blur-sm" [(visible)]="visible" styleClass="!border-0 !bg-transparent">
    <form class="form-control w-100" (ngSubmit)="onSubmit()">
<div class="d-flex justify-content-center">
<img class="img-fluid w-25" src="../../assets/staff.png" alt="">
</div>

    <input
      class="form-control"
      type="text"
      placeholder="Username"
      [(ngModel)]="user.username"
      name="username"
      required
    />
    <br />
    
    <input
      class="form-control"
      type="password"
      placeholder="Password"
      [(ngModel)]="user.password"
      name="password"
      required
    />
     <br />
    
    <input
      class="form-control"
      type="email"
      placeholder="Email"
      [(ngModel)]="user.email"
      name="email"
      required
    />
<br>

<input 
type="radio" 
id="html" 
name="fav_language"
value="HTML"
[checked]="user.enabled"
 >
  <label for="">Active</label>
 <br />
 <br>


      <input
      class="form-control"
      type="text"
      placeholder="Phone Number"
      [(ngModel)]="user.phoneNumber"
      name="phoneNumber"
      required
    />
     <br />
    <p-select
      [options]="roleList"
      [(ngModel)]="selectedRole"
      optionLabel="roleName"
      placeholder="Select Role Type"
      name="roleType"
      (onChange)="onSelectRole($event)"
      class="w-full md:w-100"
    ></p-select>
<br>
<br>
    <button class="btn btn-info" type="submit">Create User</button>
  </form>
</p-dialog>
</div>