


<div class="container d-flex justify-content-center gap-4">
<form class="form-control w-50" (ngSubmit)="onSubmit()">
  <input class="form-control" type="text" placeholder="Username" [(ngModel)]="user.username" name="username" required>
  <br>
  <input class="form-control" type="password" placeholder="Password" [(ngModel)]="user.password" name="password" required>
  <br>
  <input class="form-control" type="email" placeholder="Email" [(ngModel)]="user.email" name="email" required>
  <br>
  <br>
  <button class="btn btn-info" type="submit">Create User</button>
</form>

<form class="form-control w-50" (ngSubmit)="assignRoleToUserSubmit()">
  <input class="form-control" type="number" placeholder="User ID" [(ngModel)]="assignRoleToUser.userId" name="userId" required>
  <br>
  <input class="form-control"  type="number" placeholder="Role ID" [(ngModel)]="assignRoleToUser.roleId" name="roleId" required>
  <br>
  <button class="btn btn-info" type="submit">Assign Role</button>
</form>

<form class="form-control w-50" (ngSubmit)="createRole()">
  <input class="form-control" type="text" placeholder="Username" [(ngModel)]="role.name" name="rolename" required>
  <br>
  <input class="form-control"  type="text" placeholder="description" [(ngModel)]="role.description" name="description" required>
  <br>
  <button class="btn btn-info" type="submit">Create Role</button>
</form>

<form class="form-control w-50" (ngSubmit)="createPermisson()">
  <input class="form-control" type="text" placeholder="name" [(ngModel)]="permission.name" name="permissionName" required>
  <br>
  <input class="form-control"  type="text" placeholder="description" [(ngModel)]="permission.description" name="permissionDescription" required>
  <br>
  <button class="btn btn-info" type="submit">create Permission</button>
</form>

<form class="form-control w-50" (ngSubmit)="graintRolePermission()">
  <input class="form-control" type="text" placeholder="roleId" [(ngModel)]="grantPermission.roleId" name="roleId" required>
  <br>
  <input class="form-control"  type="text" placeholder="permissionId" [(ngModel)]="grantPermission.permissionId" name="permissionId" required>
  <br>
  <button class="btn btn-info" type="submit">Grant Permission</button>
</form>

    
</div>












<!-- View Users  -->
 <div class="card mt-5 " >
    <p-tabs value="0" scrollable>
        <p-tablist>
            <ng-template #previcon>
                <i class="pi pi-minus"></i>
            </ng-template>
            <p-tab value="0" class="flex items-center !gap-2">
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"/>
                <span class="font-bold whitespace-nowrap">Users</span>
            </p-tab>
            <p-tab value="1" class="flex items-center !gap-2">
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png" shape="circle" />
                <span class="font-bold whitespace-nowrap">Roles</span>
            </p-tab>
            <p-tab value="2" class="flex items-center !gap-2">
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png" shape="circle" />
                <span class="font-bold whitespace-nowrap">Ioni Bowcher</span>
                <p-badge value="2" />
            </p-tab>
            <ng-template #nexticon>
                <i class="pi pi-plus"></i>
            </ng-template>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
               <div class="card ">
    <table class="table table-striped " style="min-width:60rem">
        <thead>
            <tr>
                <th style="width:20%">E-ID</th>
                <th style="width:20%">USERNAME</th>
                <th style="width:20%">PASSWORD</th>
                <th style="width:20%">EMAIL</th>
                <th style="width:20%">ROLES</th>
                 <th style="width:20%">INFO</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td> {{user.password}} </td>
                <td>{{user.email}}</td>
                <td>
                    <ul>
                        <li *ngFor="let role of user.roles">{{role.name}}</li>
                    </ul>
                </td>
                <td>
                    <div class="card flex justify-center">
    <p-button (click)="showDialog()" label="Show" />
    <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
        <span class="p-text-secondary block mb-8">Update your information.</span>
        <ul>
            <span>You are </span>
                        <p *ngFor="let role of user.roles">{{role.name}}</p>
                    </ul>
        <div class="flex justify-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="visible = false" />
            <p-button label="Save" (click)="visible = false" />
        </div>
    </p-dialog> 
</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


            </p-tabpanel>
            <p-tabpanel value="1">
                 <div class="card ">
    <table class="table table-striped " style="min-width:60rem">
        <thead>
            <tr>
                <th style="width:20%">R-ID</th>
                <th style="width:20%">ROLE NAME</th>
                <th style="width:20%">DESCRIPTION</th>
                <th style="width:20%">PERMISSION</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let role of roles">
                <td>{{role.id}}</td>
                <td>{{role.name}}</td>
                <td>{{role.description}}</td>
                <td>
                    <ul>
                        <li *ngFor="let permission of role.permissions">{{permission.name}}</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
            </p-tabpanel>
            <p-tabpanel value="2">
                <p class="m-0">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                    atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
                    sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
                    facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                    impedit quo minus.
                </p>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div> 

